body {
  font-family: Verdana, sans-serif;
  margin: 0;
  box-sizing: border-box;
  background-color: #da2020;
}

header {
  background-color: #0a0909;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-nav {
  background: #f3c623;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
}

.main-nav ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  gap: 15px;
}

.main-nav a {
  color: #06662b;
  text-decoration: none;
  font-weight: bold;
}

.main-nav a:hover {
  color: #da2020;
}

.figure-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  padding: 20px;
  width: 250px;
  background-color: white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}
